Fiinasta/Fiinasta/Service References/FiinastaAPI/FiinastaAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FiinastaAPI.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FiinastaAPI.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="E_Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Phone_No_" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacts" nillable="true" type="tns:Contacts" />
  <xs:complexType name="Spendings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Check_Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entry_No_" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Spendings" nillable="true" type="tns:Spendings" />
  <xs:complexType name="ArrayOfSpendings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Spendings" nillable="true" type="tns:Spendings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpendings" nillable="true" type="tns:ArrayOfSpendings" />
</xs:schema>