Fiinasta/Fiinasta/Service References/FiinastaAPI/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49571/FiinastaAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49571/FiinastaAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49571/FiinastaAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiinastaAPI.Models" />
      <xsd:import schemaLocation="http://localhost:49571/FiinastaAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFiinastaAPI_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContacts" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_CheckEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEntries" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_CheckEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_AddSpendings_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpendings" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_AddSpendings_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpendingsResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetSpendings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpendings" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetSpendings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpendingsResponse" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IFiinastaAPI_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFiinastaAPI">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/Register" message="tns:IFiinastaAPI_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/RegisterResponse" message="tns:IFiinastaAPI_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/Login" message="tns:IFiinastaAPI_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/LoginResponse" message="tns:IFiinastaAPI_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/GetContacts" message="tns:IFiinastaAPI_GetContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/GetContactsResponse" message="tns:IFiinastaAPI_GetContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/CheckEntries" message="tns:IFiinastaAPI_CheckEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/CheckEntriesResponse" message="tns:IFiinastaAPI_CheckEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpendings">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/AddSpendings" message="tns:IFiinastaAPI_AddSpendings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/AddSpendingsResponse" message="tns:IFiinastaAPI_AddSpendings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpendings">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/GetSpendings" message="tns:IFiinastaAPI_GetSpendings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/GetSpendingsResponse" message="tns:IFiinastaAPI_GetSpendings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiinastaAPI/GetCategories" message="tns:IFiinastaAPI_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiinastaAPI/GetCategoriesResponse" message="tns:IFiinastaAPI_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFiinastaAPI" type="tns:IFiinastaAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/GetContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEntries">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/CheckEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpendings">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/AddSpendings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpendings">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/GetSpendings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IFiinastaAPI/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IFiinastaAPI" binding="tns:BasicHttpBinding_IFiinastaAPI">
      <soap:address location="http://localhost:49571/FiinastaAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>